/*css selectors*/

#loan-form{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border:  3px solid darkslategrey;
    background-color: #7FFFD4;
    width: 60%;



}



#loan-label tr:nth-child(even){background-color: #7FFFD4;}

#loan-label tr:hover {background-color: #ddd;}

#loan-label th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: green;
}